<div class="rounded-box inline">
  <div class="sketch-info">
    <ul>
      <li>
        <p class="sketch-title"><%= sketch.title %></p>
      </li>
      <li>
        <p>Description:</p>
        <small><%= sketch.description %></small>
      </li>
    </ul>
  </div>
  <br>
  <%# Passing 'sketch' as an argument here is enough for it to route to show path %>
  <div class="links-bottom">
      <small><%= link_to "Open", sketch %></small>
      <small><%= link_to "Edit", edit_sketch_path(sketch) %></small>
      <small><%= link_to "Delete", sketch, method: :delete %></small>
  </div>
</div>