<div class="container">

  <p class="sketch-title"><%= @sketch.title %></p>

  <small><%= @sketch.description %></small>

  <div class="box-code">
    <%= simple_format @sketch.code, class: "code" %>
  </div>

  <small><%= link_to "Edit", edit_sketch_path(@sketch) %></small>
  <small><%= link_to "Delete", @sketch, method: :delete %></small>

</div>