<!DOCTYPE html>
<html>
  <head>
    <title>P5jsProj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Start Navbar -->
    <section id="navbar">
      <div class="navbar-top">
        <div class="navbar-brand">
           <h1><%= link_to "Sketches", sketches_path %></h1>
        </div>
        <div class="navbar-links">
          <ul>
            <li><%= link_to "Sample Sketch", root_path %></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- End Navbar -->

    <section class="main-container">

      <%= yield %>

    </section>
  </body>
</html>
