<!DOCTYPE html>
<html>
  <head>
    <title>P5jsProj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h1><%= link_to "Sketches", sketches_path %></h1>

  <body>
    <%= yield %>
  </body>
</html>
